/*  Hide scrollbars */
body {
  overflow: hidden; /* Hide scrollbars */
}
/*Container for main */
.container{
	padding: 10px 10px 10px 10px;
    overflow-x: hidden;
}
.set{
    position: absolute;
    margin-left: 351px;
    margin-top: 136px;
}

/*Background image style tag*/
.bg{
    backface-visibility: hidden;
    position: absolute;
    left: 0px;
    z-index: -1;
    max-width: 100%;
    width: 100%;
    height: auto;
}
/*.frame{
	background-color: grey;
    height: 700px;
    width: 649px;
    position: absolute;
    margin-left: 692px
}*/
.logo{
position: absolute;
    margin-left: 87px;
    margin-top: 105px;
    height: 250px;
    width: 250px;
    z-index: 1;
}
.transparent{
    background-color: rgba(10,2,0,0.5)!important;
    position: absolute;
    margin-left: 215px;
    margin-top: 231px;
    height: 50%;
    width: 70%;
}
h2{
    color: white;
    position: absolute;
    margin-top: 40px;
    padding: 10px 250px 10px 250px;
    font-size: 43px;
}
h1{
	color: white;
	position: relative;
	margin-top: 2030px
	padding: 10px 250px 10px 250px;

}
.contact{
	color: white;
    font-size: 20px;
    position: absolute;
    margin-top: 285px;
    margin-left: 478px
}
.number{
	    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: 285px;
    margin-left: 40px;
}
i{
	position: absolute;
	margin-top: 100px;
}
.order{
	position: absolute;
    margin-top: 243px;
    margin-left: 40px;
    height: 40px;
}

@media only screen and (max-width: 375px) {
  body {
    background-color: none;
  }
  .bg{
        display: none;
    }
}

/**/